@font-face {
  font-family: 'CustomFont';
  src: url('./font.ttf') format('opentype');
  font-weight: 600;
  font-style: normal;
}


.hello {
  color: red;
  font-family: 'CustomFont';
  font-size: xxx-large;
  background: no-repeat url('./icon.png');
}
